:root {
    --title-font: 'Roboto', sans-serif;
    --primery-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --body-text-color: #434455;
    --helper-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --modal-overlay-color: #2E2F42;
    --hero-background-color: #2E2F42;
    --white-background-color: #FFFFFF;
    --modal-background: #FCFCFC;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/**
  |============================
  | Header styles
  |============================
*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--accent-color);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container{
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}

.link-logo {
    margin-right: 76px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
}

.link-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--primery-brand-color);
    margin-right: 76px;
}

.logo-dark {
    color: var(--hero-background-color);
}

.header-link {
    display: flex;
    font-family: var(--title-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    cursor: pointer;
    color: var(--dark-color);
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.active {
    color: var(--pressed-state-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.active::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--pressed-state-color);
    position: absolute;
    bottom: -1px;
    left: 0;
}

.nav-list .header-link:hover,
.nav-list .header-link:focus {
    color: var(--pressed-state-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress {
    margin-left: auto;
}

.adress-list {
    display: flex;
    gap: 40px;
}

.adress-link {
    font-family: var(--title-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: var(--body-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-link:hover,
.adress-link:focus {
    color: var(--pressed-state-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/**
  |============================
  | Body
  |============================
*/
body {
    font-family: var(--title-font);
    color: var(--body-text-color);
    background-color: var(--white-background-color);
    list-style: none;
    text-decoration: none;
}
/**
  |============================
  | Section hero first page
  |============================
*/
.hero-section {
    background-color: var(--dark-color);
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)
    ),
    url(../images/hw1-sec1/people-office.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.hero-title {
    font-family: var(--title-font);
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-background-color);
    max-width: 496px;
    margin: 0 auto 48px;
}

.hero-button {
    display: block;
    font-family: var(--title-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--white-background-color);
    background-color: var(--primery-brand-color);
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--pressed-state-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/**
  |============================
  | Section benefits first page
  |============================
*/
.benefits-section {
    padding: 120px 0;
}

.benefits container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-item {
    width: calc((100% - 3 * 24px) / 4);
}

.main-page-title {
    font-family: var(--title-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--modal-overlay-color);
    margin-bottom: 8px;
}

.main-page-text {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
}

.benefits-icons {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 24px;
    left: 100px;
}

.icon-container {
    position: relative;
    width: 264px;
    height: 112px;
    background-color: var(--light-color);
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/**
  |============================
  | Secction 'Doing' first page
  |============================
*/
.we-doing {
    padding-bottom: 120px;
}
.page-title {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--hero-background-color);
    margin-bottom: 72px;
}

.image-doing-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.image-doing {
    width: calc((100% - 2 * 24px) / 3);
}

/**
  |============================
  | Team section
  |============================
*/
.team-section {
    background-color: var(--light-color);
    padding: 120px 0;
}

.team-card-list {
 display: flex;
 gap: 24px;
}

.team-item {
    background-color: var(--white-background-color);
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-container {
    padding: 32px 0;
}

.team-title {
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    text-align: center;
    margin-bottom: 8px;
}

.social-icons-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    max-width: 232px;
    margin: 0 auto;
}

.social-icon {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    fill: var(--light-color);
}

.li-social-icons {
    width: 40px;
    height: 40px;
}

.bcg-social-icons {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--primery-brand-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bcg-social-icons:hover,
.bcg-social-icons:focus {
    background-color: #404bbf;
}

/**
  |============================
  | Customer section
  |============================
*/
.customer-section{
    padding: 120px 0;
}

.customer-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.customer-item {
    display: flex;
}

.customer-icon-link {
    position: relative;
    border-radius: 4px;
    border: 1px solid var(--helper-text-color);
    color: var(--helper-text-color);
    width: 168px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon-link:hover,
.customer-icon-link:focus {
    color: #404bbf;
    border-color: var(--pressed-state-color);
}

.customer-icon {
    fill: currentColor;
    display: flex;
    align-items: center;
    justify-content: center;
}

/**
  |============================
  | Portfolio page
  |============================
*/
.portfolio-main {
    padding: 96px 0 120px 0;
}

.portfolio-page {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.button-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.filter-button {
    font-family: var(--title-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    list-style: none;
    cursor: pointer;
    color: var(--primery-brand-color);
    background-color: var(--light-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    padding: 12px 24px;
}

.filter-button:hover {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.filter-button:hover,
.filter-button:focus {
    color: var(--white-background-color);
    background-color: var(--pressed-state-color);
    border: 1px solid transparent;
    transition-property: color, border, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-bottom: 120px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-card {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    padding: 40px 32px 164px 32px;
    font-family: var(--title-font);
    background-color: var(--primery-brand-color);
    color: var(--light-color);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.portfolio-card:hover .overlay {
    transform: translateY(0);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.text-card {
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
}

img {
	display: block;
}

/**
  |============================
  | Footer
  |============================
*/
.footer {
    background-color: var(--hero-background-color);
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-white {
    color: var(--light-color);
}

.text-footer {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color);
    max-width: 264px;
}

.footer-container {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.footer-logo-container {
    margin-right: 120px;
}

.footer-social {
    display: flex;
    gap: 16px;
}

.item-list-footer {
    width: 40px;
    height: 40px;
}

.link-icon-footer { 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--primery-brand-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-footer:hover,
.link-icon-footer:focus {
    background-color: var(--success-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 24px;
    height: 24px;
    fill: var(--light-color);
}

.social-text  {
    font-family: var(--title-font);
    color: var(--white-background-color);
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.form-footer {
    display: flex;
    justify-content: center;
    margin-left: 80px;
    gap: 24px;
    align-items: flex-end;
}

.label-footer {
    display: flex;
    flex-direction: column;
    font-family: var(--title-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-background-color);
    gap: 16px;
    align-items: baseline;
    justify-content: flex-start;
}

.input-footer{
    font-family: var(--title-font);
	color: var(--white-background-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.5;
    letter-spacing: 0.04em;
    outline: transparent;
    width: 264px;
    height: 40px;
    padding: 8px 0px 8px 16px;
    background-color: var(--dark-color);
    border-radius: 4px;
    border: 1px solid var(--white-background-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.input-footer::placeholder {
    font-family: var(--title-font);
	color: var(--white-background-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.5;
    letter-spacing: 0.04em;
}


.submit-footer-button {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    background: var(--primery-brand-color);
    width: 165px;
    height: 40px;
    border: none;
    color: var(--white, #FFF);
    
font-size: 16px;
font-family: var(--title-font);
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
}
/**
  |============================
  | Modal
  |============================
*/

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px; 
    min-height: 584px;
    background: var(--modal-background);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 0px 24px;
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--dark-color);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    border: none;
    color: #ffffff;
}

.icon-modal {
    position: absolute;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.caption-modal {
    display: flex;
    justify-content: center;
    font-family: var(--title-font);
    color: var(--dark-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-form {
}
.modal-form-content {
    margin-bottom: 8px;
}

.form-text {
}

.label-modal {
}

.icon-input-wrap {
    position: relative;
}
.input-form {
    
}
.input-modal {
}

.icon-modal-form {
    position: absolute;
}

.modal-form-comment {
}
.textarea-modal {
}
.checkbox-wrap {
}
.input-modal-checkbox {
}
.visually-hidden {
}
.label-modal-checkbox {
}
.check-box {
}
.icon-modal-checkbox {
}
.privacy-policy-link {
}
.button {
}
.button-blue {
}
.button-size {
}
.submit {
}
